@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>*@
@*@{
    Layout = null;
}*@
<h2>Demolition</h2>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/tabs.css" rel="stylesheet" type="text/css" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
 </html>
<table class="profiletbl" cellspacing="0">
    <tr>
        <td valign="top" colspan="4" class="heading">
            <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
  <ul>
    <li><strong><a href="#fragment-1"><span>Demo</span></a></strong></li>
    <li><strong><a href="#fragment-2"><span>Shower</span></a></strong></li>
    <li><strong><a href="#fragment-3"><span>Walls</span></a></strong></li>
    <li><strong><a href="#fragment-4"><span>Ceiling</span></a></strong></li>
    <li><strong><a href="#fragment-5"><span>Floor</span></a></strong></li>
  </ul>
  <div id="fragment-1">
    <table>
        <tr>
            <td><strong>Toilet</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Vanity, with top and faucet</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Other Cabinets/Linens</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Wall Mirror / Medicine Cabinet</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Light Fixtures</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Ceiling Exhaust Fan</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Accessory Items</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Shower Door</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Toilet</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>OTHER - MISC</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
    </table>
  </div>
  <div id="fragment-2">
    <table>
        <tr>
            <td><strong>Cast Iron Tub</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Steel / Fiberglass Tub</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Whirlpool Tub</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>One Piece Tub and Surround</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Remove Acrylic Overlay</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Acrlic Shower Pan</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Poured Shower Pan</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>        
    </table>
  </div>
  <div id="fragment-3">
    <table>
        <tr>
            <td><strong>Acrylic Walls</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Drywall - sq ft</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Plaster and Lath - sq ft</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Demo Studs (linear sq ft)</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Walls with tile and drywall/cement board -sq ft</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>walls with tile and plaster and lath - sq ft</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Extra thick tile "old school" - sq ft</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Paneling (wood)</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Removal of standard 3' x 5" soffit</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
    </table>
  </div>
    <div id="fragment-4">
    <table>
        <tr>
            <td><strong>Drywall</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Plaster and Lath</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Remove Cermaic</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Drop Ceiling</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>        
    </table>
  </div>
    <div id="fragment-5">
    <table>
        <tr>
            <td><strong>Remove peel and stick or linoleum floor, VCT, Laminate</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Remove Cermaic / Stone / Hardwood</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Remove Cermaic / Stone on a poured mudset floor</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Remove 1 layer of cement board</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>
        <tr>
            <td><strong>Remove Carpet</strong></td>
            <td><input type="number" id="txtToilet" /></td>
        </tr>        
    </table>
  </div>
</div>
        </td>
    </tr>      
    <tr>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td valign="top" colspan="2">
            <div class="buttonwrapper">
                <a class="gray_ovalbutton" href="javascript:LoadData('#profile_results', '@Url.Action("PersonalEdit", "MyProfile")')">
                    <span>Edit</span></a>
            </div>
        </td>
    </tr>
</table>
<script>
$( "#tabs" ).tabs();
</script> 
