<h1>Dashboard</h1>
<table>
    <tr>
        <th>Bath Remodel</th>
    </tr>
    <tr>
        <td>
            <a href="~/Bath/Index" title="Bath">
                <img src="~/Images/Desktop/bath.png" alt="Bath Remodel" border="0" name="Bath" id="bath_icon"></a>
        </td>
    </tr>
</table>
